@import '../common/';

a {
  color: inherit;
  text-decoration: none;
  position: relative;

  transition: all 0.2s ease-in;

  &::after {
    content: '';
    width: 100%;
    height: 0.15rem;
    position: absolute;
    left: 0;
    bottom: 0.1rem;
    background-color: $dark;

    transition: all 0.2s ease-in;
  }

  &:hover {
    color: $primary;

    &::after {
      background-color: $primary;
    }
  }
}

a.active {
  color: $primary;

  &::after {
    background-color: $primary;
    visibility: visible;
  }
}
