@import '../../../styles/common';

.root {
  padding: 5rem 5rem 7rem;
  background-color: $primary;
  color: $light-primary;
  border-radius: 4rem;
  font-size: 4rem;
  line-height: 1.1;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    padding: 5rem 3rem 5rem;
  }

  @media (max-width: 650px) {
    font-size: 3rem;
    line-height: 1.2;
  }

  @media (max-width: 480px) {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  &__title {
    margin-bottom: 4rem;
    font-weight: 500;

    @media (max-width: 650px) {
      margin-bottom: 2.5rem;
    }
  }

  &__paragraph,
  &__subtitle {
    display: inline-block;
    font-weight: 300;
    line-height: 1.15;
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    padding-top: 4rem;
    font-weight: 500;
  }
}
