@import '../../../../styles/common';

.root {

  &__label {
    @include font(semibold, p1, $dark);
    line-height: 2.2rem;
  }

  &__input {
    margin-bottom: 4rem;
  }

  input[name="password"] {
    border: none;
  }

  &__input button {
    display: none;
  }
}

.rootEdit {

  &__input {
    margin-bottom: 1rem;
  }

  input[name="password"] {
    border-bottom: 1px solid $dark;
  }

  &__input button {
    display: block;
  }

  &__closeBtn {
    @include close-btn()
  }
}

.form {

  &__button {
    width: 100%;
    height: 7rem;
  }
}