@import '../../../styles/common';

.artist {
  font-size: 4rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 6rem;
}

.price {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @media all and (max-width: 480px) {
    font-size: 2.9rem;
  }

  &.price__double {
    width: 100%;

    .price__full {
      color: $text-grey;
      display: inline;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: -3%;
        top: calc(50% - 2px);
        width: 106%;
        height: 4px;
        background-color: $primary;
        z-index: 10;
      }
    }
  }
}
