@import 'src/styles/common';

.address {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    @include font(semibold, h3, $dark);
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  &__select {
    width: 100%;
    position: relative;
  }

  &__error {
    @include input-error();
  }

  &__checkfield {
    @include check-field();
    width: max-content;
    padding-top: 2rem;

    span {
      transition: opacity 0.2s;
    }

    &:hover {
      span {
        opacity: 0.6;
      }
    }
  }

  &__checkbox {
    @include checkbox();
  }
}
