@import '../../../styles';

.form__address {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;

  h3 {
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  &_double {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }
}

.selects__container {
  margin-bottom: 1.5rem;
  width: 100%;
  position: relative;
}