@import '../../styles/common/';

.cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__container {
    width: 100%;
    padding: 10rem 2rem 6rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media all and (max-width: $cart-tablet-width) {
      flex-direction: column;
      gap: 8rem;
    }

    @media all and (max-width: 480px) {
      padding: 9rem 1rem 6rem;
    }
  }
}

.items {
  width: 100%;

  &__title {
    @include font(semibold, h1, $dark);
    margin-bottom: 2rem;
  }

  &__button_clear {
    @include btn-secondary();
  }
}

.popup {
  &__content {
    padding: 4rem;
    max-width: 53rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    @media all and (max-width: 480px) {
      margin: 1rem;
      padding: 3rem;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__buttons {
    width: 100%;
    display: flex;
    gap: 1rem;

    &_cancel {
      @include btn-secondary();
      flex-shrink: 0;
      width: fit-content;
      padding: 0 3rem;
    }

    &_confirm {
      @include btn-primary();
      flex-grow: 1;
    }

    @media all and (max-width: 480px) {
      flex-direction: column-reverse;

      &_cancel {
        width: 100%;
      }
    }
  }
}
