@import '../../styles/common';

.main__container {
  height: 100%;
  background-image: url('../../../public/images/bg-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.root {
  margin: auto;
  height: 100%;
  max-width: 72rem;
  background-color: $light-primary;

  &__container {
    padding: 4rem;
    padding-top: 10rem;
    position: relative;
    height: 100%;

    @media(max-width: 720px) {
      padding: 2rem;
      padding-top: 10rem;
    }

    @media(max-width: 480px) {
      padding: 10rem 1rem 4rem;
    }
  }
}