@import '../../../../../styles/common';

.item {
  display: flex;
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 0.1rem solid $dark;

  &:first-child {
    border-top: 0.1rem solid $dark;
  }

  &__btns {
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      font-size: 1.8rem;
    }
  }

  &__data {
    @include font(regular, p1, $dark);
    line-height: 22px;
    margin-bottom: 2rem;
  }

}

.defaultSettContainer {
  display: flex;

  flex-basis: 100%;
  justify-content: space-between;

  &__address {
    padding: 0.2rem 1rem;
    border-radius: 3.5rem;
    background-color: $background-gray;
    transition: opacity $transition-set;

    &_active {
      background-color: #c0ecd7;
      color: $green;
    }

    &:hover {
      opacity: .5;
    }

    @media(max-width: 600px) {
      font-size: 1.4rem;
    }
  }
}

.configureBtns {
  &__btn {
    @include font(regular, p1, $dark);
    line-height: 22px;
    opacity: 0.3;
    transition: opacity $transition-set;

    &:hover {
      opacity: 1
    }

    @media (max-width: 600px) {
      font-size: 1.8rem;
    }
  }
}