@import '../../../styles/common';

.root {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem;

  &__btnContainer {
    padding: 16rem 0;
    position: relative;
  }

  &__link {
    display: flex;
    position: relative;
    padding: 4.5rem 0;
    width: 60rem;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $light-primary;
    border-radius: 15rem;
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 600;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 100%;
      top: -3.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='480' height='80' viewBox='0 0 480 80' fill='none'%3E%3Crect width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='80' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='160' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='240' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='320' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='400' width='80' height='80' rx='40' fill='%230047FF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 100%;
      top: 8.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='480' height='80' viewBox='0 0 480 80' fill='none'%3E%3Crect width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='80' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='160' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='240' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='320' width='80' height='80' rx='40' fill='%230047FF'/%3E%3Crect x='400' width='80' height='80' rx='40' fill='%230047FF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }

  &__circle {
    display: inline-block;
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: $primary;
    border-radius: 50%;

    &:nth-child(1) {
      top: 2rem;
      left: -4rem;
    }

    &:nth-child(2) {
      left: -20rem;
    }

    &:nth-child(3) {
      bottom: 7rem;
      left: -32rem;
    }

    &:nth-child(4) {
      bottom: 10rem;
      left: -14rem;
    }

    &:nth-child(5) {
      bottom: 1rem;
      right: 0;
    }

    &:nth-child(6) {
      bottom: 9rem;
      right: -23rem;
    }

    &:nth-child(7) {
      bottom: 6rem;
      right: -35rem;
    }

    &:nth-child(8) {
      top: 4rem;
      right: -26rem;
    }
  }
}