@import '../../styles/common/index.scss';

.root {
  width: 37.5rem;

  .form {
    display: flex;
    flex-direction: column;

    &__inputs {
      width: 100%;
      border: none;
      border-bottom: 0.1rem solid $dark-primary;

      &_coloredPassword:focus {
        color: $primary;
      }
    }

    &__passwordContainer {
      position: relative;

      &__showBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__errorText {
      opacity: 0;
      transition: opacity $transition-set;

      &_showErr {
        opacity: 1;
      }
    }
  }
}