// common colors
$dark-primary: #111;
$placeholder-grey: #888888;
$light-primary: #fff;
$eye-catching-primary: #F42222;
$primary: #0047FF;
$background-main-primary: #FAFAFA;

// effects
$opacity-primary: 0.3;
$opacity-eye-catching-primary: 0.15;

$transition-set: .3s ease-in-out;


// font
$font-weight-map: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

// (FontSize, LineHeight)

$title1: 3rem, 100%;
$title2: 2rem, 100%;
$title3: 1rem, 100%;

$text1: 2rem, 100%;
$text2: 1.5rem, 130%;

$font-type-map: (
  'h1': $title1,
  'h2': $title2,
  'h3': $title3,
  'p1': $text1,
  'p2': $text2,
);

// other
$border-radius-btns: 1.8rem;