@import 'src/styles/common';

.field {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  &__label {
    width: inherit;
    position: relative;
  }

  &__input {
    width: inherit;
    border: none;
    border-bottom: 0.1rem solid $dark;
    padding: 0.5rem 0;
    background-color: transparent;

    &::placeholder {
      color: $placeholder-grey;
    }

    &:focus {
      background-color: rgba($primary, 0.1);
    }
  }

  &__error {
    @include input-error();
  }
}
