@import '../../../styles/index.scss';

.form__input {
  width: 100%;
  position: relative;

  label {
    width: inherit;
    position: relative;

    input {
      width: inherit;
      border: none;
      border-bottom: 0.1rem solid $dark;
      padding: 1.5rem 0 0.5rem;
      background-color: transparent;

      &::placeholder {
        color: $placeholder-grey;
      }
    }
  }
}
