@import "../../../styles/common/index.scss";

.button__toggle {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  cursor: pointer;

  transition: all 0.2s ease-in;

  &:hover {
    color: $primary;
  }
}