@import '../../../styles/index.scss';

.form__input {
  width: inherit;

  input {
    width: inherit;
    border: none;
    border-bottom: 0.1rem solid $dark-primary;
    padding: 2rem 0 0.5rem;
    background-color: transparent;

    &::placeholder {
      color: $placeholder-grey;
    }
  }

  .message__error {
    @include font(regular, p2, $eye-catching-primary);
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }

  label {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }
}
