@import '../../../styles/index.scss';

.form__input {
  width: inherit;

  input {
    border: none;
    border-bottom: 0.1rem solid $dark-primary;
    padding: 2rem 0 0.5rem;
  }

  .message__error {
    @include font(regular, p2, $eye-catching-primary);
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
}
