@import '../../../styles/common';

.root {}

.tabsList {
  display: flex;
  margin-bottom: 6rem;

  &.hidden {
    display: none;
  }

  &__tab {
    padding: 1.2rem 2rem;
    border-bottom: 1px solid $dark;
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;

    &_active {
      border: 1px solid $dark;
      border-bottom: none;
    }
  }
}