@import '../../styles/common/';

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 44rem);
  grid-auto-rows: 44rem;
  gap: 2rem;

  @media all and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__item {
    width: 100%;
  }

  &__error {
    @include font(semibold, h1, $light-primary);
    line-height: 120%;
    font-weight: 500;
    padding: 2.5rem;
    width: 100%;
    min-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: $border-radius-btn-2x;
    background-color: $primary;
  }
}

.error__message {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
  max-width: 37rem;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $error-color;
  border-radius: 2rem;
  color: $light;
  z-index: 100;
}