.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 44rem);
  grid-auto-rows: 44rem;
  gap: 2rem;

  &__item {
    width: 100%;
  }
}