@import '../../styles/index';

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  color: $light;

  &__container {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    a {
      &:hover {
        color: $light;
        opacity: 0.5;
      }

      &::after {
        display: none;
      }
    }

    @media all and (max-width: 620px) {
      padding: 2rem 0;
      flex-direction: column-reverse;
      gap: 0.5rem;
    }
  }
}
