@import 'src/styles/common';

.form {
  display: flex;
  flex-direction: column;

  &__subform {
    margin-bottom: 6rem;
  }

  &__checkfield {
    @include check-field();
    width: max-content;
    padding-top: 1rem;

    span {
      transition: opacity 0.2s;
    }

    &:hover {
      span {
        opacity: 0.6;
      }
    }
  }

  &__checkbox {
    @include checkbox();
  }
}
