@import 'src/styles/common';

.crumbs {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;

  @media all and (max-width: 768px) {
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    @include font(regular, p3, $dark);
    text-decoration: none;

    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__separator {
    white-space: pre-wrap;
  }
}