@import 'src/styles/common';

.crumbs {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    @include font(regular, p3, $dark);
    text-decoration: none;
  }

  &__separator {
    white-space: pre-wrap;
  }
}