@import '../../../../styles/common';

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  &__input input {
    border: none
  }

  &__email {
    margin-bottom: 4rem;
  }

  &__dateOfBirth {
    position: relative;
    margin-bottom: 4rem;

    &::before {
      content: 'Date of Birth';
      position: absolute;
      top: -3rem;
      @include font(semibold, p1, $dark);
      line-height: 2.2rem;
    }
  }
}

.formEdit {
  margin-bottom: 4rem;

  &__email {
    margin-bottom: 1rem;
  }

  &__input input {
    border-bottom: 1px solid $dark;
  }

  &__closeBtn {
    @include close-btn()
  }

  &__btn {
    @include btn-primary();
    width: 100%;
    height: 7rem;
  }
}

.successResponse {
  @include success-response()
}

.errorResponse {
  @include error-response()
}