@import '../../../../styles/common';

.bodyMobile__hideBtn {
  display: none;

  @media(max-width:650px) {
    display: block;
    text-align: end;
    margin-bottom: 2rem;
    margin-left: auto;
    color: $primary;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 600;
    text-decoration: underline;
  }

}