@import '../../../../styles/common/';

.accordion__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $bullet-grey;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $bullet-grey;
  }

  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    user-select: none;

    .title {
      font-size: 2rem;
    }

    .icon__toggle {
      display: block;
      padding-left: 5px;
      width: 2rem;
      height: 2rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -2px;

      &_down {
        background-image: url('../../../../assets/icons/arrow-right.svg');
        transform: rotate(90deg);
      }

      &_up {
        background-image: url('../../../../assets/icons/arrow-right.svg');
        transform: rotate(-90deg);
      }
    }
  }

  &_content {
    width: 95%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
